@keyframes sparkle {
    0% {
      color: white;
      text-shadow: none;
    }
    50% {
      color: #F59E0B; 
      text-shadow: 0 0 8px #F59E0B;
    }
    100% {
      color: #F59E0B;
      text-shadow: none;
    }
  }
  
  .sparkle {
    animation: sparkle 4s ease-in .5s 1 forwards;
  }
  
  