.autocomplete-suggestion {
  position: relative;
  z-index: 1000; /* Ensure suggestions appear on top */
  background-color: #fff; /* White background */
  color: #000; /* Black text */
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.autocomplete-suggestion:hover {
  background-color: #f9f9f9;
}


@keyframes sparkleUnderline {
    from {
      width: 0;
      opacity: 0;
      box-shadow: none;
    }
    to {
      width: 100%;
      opacity: 1;
      box-shadow: 0 0 8px #F59E0B; /* Gold color glow */
    }
  }
  
  @keyframes pulseUnderline {
    0%, 100% {
      box-shadow: 0 0 8px #F59E0B;
    }
    50% {
      box-shadow: 0 0 16px #F59E0B;
    }
  }
  
  .sparkle {
    position: relative; /* Ensure pseudo-element is positioned correctly */
  }
  
  .sparkle::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; /* Adjust vertical placement as needed */
    height: 3px;  /* Adjust thickness as needed */
    background-color: #F59E0B; /* Gold color */
    width: 0;
    opacity: 0;
    /* First, run sparkleUnderline (3s, 1s delay, once, forwards)
       Then, after 4 seconds total (3s+1s), run pulseUnderline (2s, infinite) */
    animation: 
      sparkleUnderline 3s linear 0s 1 forwards, 
      pulseUnderline 2s ease-in-out 4s infinite;
  }
  
  .react-datepicker-popper {
    left: 50% !important;
    transform: translateX(-50%) !important;
    
  }

  
.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker {
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  padding: 2px;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: #f59e0b !important;
  color: white !important;
  border-radius: 50% !important;
}

.react-datepicker__header {
  background-color: #ebe6d6 !important;
  border-bottom: none;
}