@font-face {
    font-family: 'ClinkingBubblesFont';
    src: url('../assets/fonts/VELISTA.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  .clinking-font {
    font-family: 'ClinkingBubblesFont', sans-serif;
  }
  